<div class="feedback">
  <div class="feedbackHeader text-center">Help us to serve you better!</div>
  <div class="container">
    <mat-vertical-stepper [linear]="false" #stepper animationDuration="2000">
      <mat-step [stepControl]="serviceForm">
        <form [formGroup]="serviceForm">
          <ng-template matStepLabel>{{feedbackQuestions[0]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button  value="yes">Yes</mat-radio-button>
            <p class="dropdown-heading">If no,where can we improve?</p>
            <mat-radio-button value="Not hygienic">Not hygienic</mat-radio-button>
            <mat-radio-button value="Delivery time">Delivery time</mat-radio-button>
            <mat-radio-button value="Behavior">Behavior</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperNext type="submit" (click)="submitService()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="productForm">
        <form [formGroup]="productForm">
          <ng-template matStepLabel>{{feedbackQuestions[1]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button  value="yes">Yes</mat-radio-button>
            <p class="dropdown-heading">If no,where can we improve?</p>
            <mat-radio-button value="Not healthy">Not healthy</mat-radio-button>
            <mat-radio-button value="Quantity">Quantity</mat-radio-button>
            <mat-radio-button value="Quality">Quality</mat-radio-button>
            <!-- <div class="btn-group dropend">
              <button mat-button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                If,No
              </button>
              <ul class="dropdown-menu text-center">
                <p class="dropdown-heading">Where can we improve?</p>
                <li><hr class="dropdown-divider"></li>
                <mat-radio-button value="Not healthy">Not healthy</mat-radio-button>
                <mat-radio-button value="Quantity">Quantity</mat-radio-button>
                <mat-radio-button value="Quality">Quality</mat-radio-button>
              </ul>
            </div> -->
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="submit" (click)="submitProductForm()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="ambienceForm">
        <form [formGroup]="ambienceForm">
          <ng-template matStepLabel>{{feedbackQuestions[2]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button  value="yes">Yes</mat-radio-button>
            <p class="dropdown-heading">If no,where can we improve?</p>
            <mat-radio-button value="Too much lighting">Too much lighting</mat-radio-button>
            <mat-radio-button value="less lighting">less lighting</mat-radio-button>
            <mat-radio-button value="Uncomfortable chairs">Uncomfortable chairs</mat-radio-button>
            <mat-radio-button value="Too hot">Too hot</mat-radio-button>
            <mat-radio-button value="Too cold">Too cold</mat-radio-button>
            
            <!-- <div class="btn-group dropend">
              <button mat-button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                If,No
              </button>
              <ul class="dropdown-menu text-center">
                
                <p class="dropdown-heading">Where can we improve?</p>
                <li><hr class="dropdown-divider"></li>
                <mat-radio-button value="Too much lighting">Too much lighting</mat-radio-button>
                <mat-radio-button value="less lighting">less lighting</mat-radio-button>
                <mat-radio-button value="Uncomfortable chairs">Uncomfortable chairs</mat-radio-button>
                <mat-radio-button value="Too hot">Too hot</mat-radio-button>
                <mat-radio-button value="Too cold">Too cold</mat-radio-button>
              </ul>
            </div> -->
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="submit" (click)="submitAmbienceForm()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="recommendForm">
        <form [formGroup]="recommendForm">
          <ng-template matStepLabel>{{feedbackQuestions[3]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button value="Very likely">Very likely</mat-radio-button>
            <mat-radio-button value="Less likely">Less likely</mat-radio-button>
            <mat-radio-button value="Absolutely">Absolutely</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="submit" (click)="submitRecommendForm()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="revisitForm">
        <form [formGroup]="revisitForm">
          <ng-template matStepLabel>{{feedbackQuestions[4]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button  value="Tomorrow">Tomorrow</mat-radio-button>
            <mat-radio-button  value="In a week">In a week</mat-radio-button>
            <mat-radio-button  value="In a month">In a month</mat-radio-button>
            <mat-radio-button  value="In a year">In a year</mat-radio-button>
            <p class="dropdown-heading">If never,select a reason?</p>
            <mat-radio-button value="Too far to travel">Too far to travel</mat-radio-button>
            <mat-radio-button value="I hate this place">I hate this place</mat-radio-button>
            <mat-radio-button value="Not from goa">Not from goa</mat-radio-button>
            <mat-radio-button value="Not hygienic enough">Not hygienic enough</mat-radio-button>
           
            <!-- <div class="btn-group dropend">
              <button mat-button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                If,Never
              </button>
              <ul class="dropdown-menu text-center">
                
                <p class="dropdown-heading">Select a reason?</p>
                <li><hr class="dropdown-divider"></li>
                <mat-radio-button value="Not higenic">Not higenic</mat-radio-button>
                <mat-radio-button value="Delivery time">Delivery time</mat-radio-button>
                <mat-radio-button value="Behaviour">Behaviour</mat-radio-button>
                <mat-radio-button value="Behaviour">Behaviour</mat-radio-button>
              </ul>
            </div> -->
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="submit" (click)="submitRevisitForm()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="suggestionForm">
        <form [formGroup]="suggestionForm">
          <ng-template matStepLabel>{{feedbackQuestions[5]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button value="Margao">Margao</mat-radio-button>
            <mat-radio-button value="Mapusa">Mapusa</mat-radio-button>
            <mat-radio-button value="Vasco">Vasco</mat-radio-button>
            <mat-radio-button value="Old goa">Old goa</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="submit" (click)="submitSuggestionForm()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="aboutForm">
        <form [formGroup]="aboutForm">
          <ng-template matStepLabel>{{feedbackQuestions[6]}}</ng-template>
          <mat-radio-group aria-label="Select an option" formControlName="answer" required>
            <mat-radio-button value="Friends/Family">Friends/Family</mat-radio-button>
            <mat-radio-button value="Internet">Internet</mat-radio-button>
            <mat-radio-button value="Newspapers">Newspapers</mat-radio-button>
            <mat-radio-button value="Boards">Boards</mat-radio-button>
            <mat-radio-button value="Websites">Websites</mat-radio-button>
            <mat-radio-button value="Random">Random</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="submit" (click)="submitAboutForm()">Submit</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>

    </mat-vertical-stepper>
  </div>
</div>