<div class="footer" id="footer">
    <div class="row">
        <div class="col-xl-4 col-sm-12 address text-center">
            <p class="mr-3"> <span class="followus">download</span> <br>
                <span class="social-heading">the app</span></p>
                <button type="button" class="btn btn-dark btn-lg download-button"><i class="fa-brands fa-apple"></i>
                    Download</button>
                <button type="button" class="btn btn-dark btn-lg download-button"><i class="fa-brands fa-google-play"></i>
                    Download</button>
        </div>
        <div class="col-xl-4 col-sm-12 address text-center">
            <p class="contact-us mr-3 text-uppercase text-center">Contact-us</p>
            <div style="color:#363636;font-size:16px;">
                <i class="fa-solid fa-shop"></i><span> Kamat Towers,Patto Plaza,Patto Center,Panji,Goa-403001 </span><br>
                <span class="mb.no"><i class="fa-light fa-mobile-retro"></i> +91 99227 01738</span>
                <span class="mb.no"><i class="fa-light fa-mobile-retro"></i> +91 83810 24210</span>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 sociallink text-center">
            <p class="mr-3"> <span class="followus">stay</span> <br>
                <span class="social-heading">connected</span></p>
            <div class="social-icon">
                <a href="" target="_blank"><img src="https://www.jamba.com/-/media/jamba/icons/social/instagram-logo.png?v=1&d=20200110T075320Z" alt="insta" width="40px"></a>
                <a href="" target="_blank"><img src="https://www.jamba.com/-/media/jamba/icons/social/facebook-logo.png?v=1&d=20200110T075258Z" alt="insta" width="40px"></a>
            </div>

        </div>
    </div>
    <p class="text-center copyRight">Copyright@fruitilicious2022</p>
</div>