.footer {
  padding-top: 50px;
  background-color: #f6f9f9;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}
.copyRight {
  background-color:whitesmoke;
  font-weight: 200;
  color: grey;
}
.social-icon a {
  margin-right: 5px;
}
.contact-us {
  /* font-family: "Indie Flower", cursive; */
  /* font-family: 'Charmonman', cursive; */
  font-size:28px;
  color:black;
  line-height: 1;
  display: block;
  font-weight: 500;
}
.followus{
  /* font-family: "Indie Flower", cursive; */
  /* font-family: 'Charmonman', cursive; */
  font-size: 28px;
  color:black;
  line-height: 1;
  font-weight: 500;
}
.fa-shop,
.fa-mobile-retro {
  color: black;
  margin-left: 10px;
}
.social-heading {
  font-size: 20px;
}
.social-heading{
 color:black;
 font-size: 28px;
 font-weight: 500;
}
.mb.no{
    line-height: 1;
    margin-right: 5px;
}
.download-button{
    margin-right: 5px;
    margin-bottom: 10px;
}
