<div class="container s1">
  <div class="row">
    <div class="col-lg-6 ">
      <div class="welcome">
        <h1><span>Welcome to</span><br>
          Our Juice Center</h1>
        <p style="color:crimson">It is a long established fact that a reader will be distracted by the readable content
          of a page when looking
          at its layout. The point of using Lorem Ipsum is that</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="assets/images/banner_img.png" class="d-block w-100" alt="menu-part2">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/images/premium_photo-1661723083834-7a7c2461e59e.avif" class="d-block w-100"
              alt="menu-part1">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/images/con_top.png" class="d-block w-100" alt="menu-part2">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section3">
      <div class="home-item text-center">
        <img src="assets/menu-part1.png" alt="menu-icon">
        <div class="menu-btn">
          <a [routerLinkActive]="['active']" routerLink="/menu">My menu</a>
        </div>
      </div>
      <div class="home-item text-center">
        <img src="assets/detox drinks.webp" alt="detox-drink">
        <div class="menu-btn">
          <a href="">Detox drinks</a>
        </div>
      </div>
      <div class="home-item text-center">
        <img src="assets/summer-drinks.jpg" alt="cooling-drinks">
        <div class="menu-btn">
          <a href="">Cooling drinks</a>
        </div>
      </div>
      <div class="home-item text-center">
        <img src="assets/deiticial.jpg" alt="deiticial">
        <div class="menu-btn">
          <a href="">Dieticial</a>
        </div>
      </div>
      <div class="home-item text-center">
        <img src="assets/health-benifits.png" alt="health-benifits">
        <div class="menu-btn">
          <a href="">Health benifits</a>
        </div>
      </div>
      <div class="home-item text-center">
        <img src="assets/blog-post.jpg" alt="blog">
        <div class="menu-btn">
          <a href="">Blogs</a>
        </div>
      </div>  
    </div>
  </div>
</div>